.menu-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;

  width: 30px;
  height: 30px;
  padding: 0;

  background: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  backdrop-filter: blur(6px);
}

.menu-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  pointer-events: none;
}

.menu-button:active {
  transform: scale(0.95);
}
