.side-menu {
  position: fixed;
  top: 0;
  right: 0;

  width: 260px;
  height: 100vh;

  background: rgba(240, 240, 240, 0.95);
  color: #111;

  transform: translateX(100%);
  transition: transform 0.3s ease;

  z-index: 1000;
  padding: 24px;
  box-shadow: -8px 0 24px rgba(0, 0, 0, 0.15);
}

.side-menu.open {
  transform: translateX(0);
}

.app-title {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  letter-spacing: 0.1em;
  margin-bottom: 16px;
}

.menu-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  font-size: 16px;
  color: #111;
  cursor: pointer;

  text-align: left;
}

.menu-link:hover {
  opacity: 0.6;
}

.menu-arrow {
  display: block;
  width: 18px;
  height: 18px;
  margin-left: 3px;
  flex-shrink: 0;

  transform: rotate(0deg);
  transition: transform 0.25s ease;
  transform-origin: center;
}

.menu-arrow--open {
  transform: rotate(90deg);
}

.side-menu ul {
  list-style: none;
  padding: 0px 24px;
  margin: 0;
}

.side-menu li {
  margin-bottom: 16px;
}

.side-menu a {
  color: #111;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.side-menu p {
  color: #111;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
.side-menu a:hover {
  opacity: 0.7;
}
