.side-menu {
  position: fixed;
  top: 0;
  right: 0;

  width: 260px;
  height: 100vh;

  background: rgba(240, 240, 240, 0.95);
  color: #111;

  transform: translateX(100%);
  transition: transform 0.3s ease;

  z-index: 1000;
  padding: 24px;
  box-shadow: -8px 0 24px rgba(0, 0, 0, 0.15);
}

.side-menu.open {
  transform: translateX(0);
}

.app-title {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  letter-spacing: 0.1em;
  margin-top: 0;
  margin-bottom: 16px;
}

.menu-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  font-size: 16px;
  color: #111;
  cursor: pointer;

  text-align: left;
}

.menu-link:hover {
  opacity: 0.6;
}

.menu-toggle {
  transform: translateY(2px);
  width: 16px;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  padding: 0 2px;
  color: #838383;
}

.side-menu ul {
  list-style: none;
  padding: 0px 24px;
  margin: 0;
}

.side-menu li {
  margin-bottom: 14px;
}

.side-menu a {
  color: #111;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.side-menu p {
  color: #111;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
.side-menu a:hover {
  opacity: 0.7;
}

.side-menu .x-share-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  
  margin: 5px;
  padding: 8px 20px;

  background-color: #000;
  color: #fff;
  text-decoration: none;

  border-radius: 0px; 
  font-size: 12px;
  font-weight: 600;

  transition: opacity 0.2s ease, transform 0.1s ease;
}

.x-share-button:hover {
  opacity: 0.8;
}

.x-share-button:active {
  transform: scale(0.98);
}

.x-icon {
  font-size: 15px;
  line-height: 1;
}

.x-text {
  white-space: nowrap;
}

.share-item {
  text-align: center;
}
